<div layout-padding style="height: 100vw;">
  <md-grid-list md-rows="2" md-cols="2" md-row-height="fit" md-gutter="8px" style="height: 100%">
    <md-grid-tile md-rowspan="3" md-colspan="2" style="overflow: hidden;">
      <a href="http://svalbardkartet.npolar.no/html5/" target="_blank">
        <img src="show/img/svalbardkartet_thumbnail.png" style="width: 100%" />
        <md-grid-tile-footer class="viewer-footer">
          <h3>
            <b>Svalbardkartet</b>
            <br/><br/>
            <span class="viewer-info">
              An interactive thematic atlas of Svalbard supplemented with a rich datasets of environmental data layers with advanced map viewer capable of high-resolution map printing, identifiying map objects, advanced drawing and measurements...
            </span>
          </h3>
        </md-grid-tile-footer>
      </a>
    </md-grid-tile>
    <md-grid-tile md-rowspan="2" md-colspan="1" style="overflow: hidden;">
      <a href="http://toposvalbard.npolar.no" target="_blank">
        <img src="show/img/toposvalbard_thumbnail.png" style="wdith: 100%" />
        <md-grid-tile-footer class="viewer-footer">
          <h3>
            <b>TopoSvalbard</b>
            <br/><br/>
            <span class="viewer-info">
              A fast and interactive topographical map portal of Svalbard with detailed topography and placenames, 3D view of Svalbard as well as areal and landscape photos...
            </span>
          </h3>
        </md-grid-tile-footer>
      </a>
    </md-grid-tile>
    <md-grid-tile md-rowspan="4" md-colspan="1" style="overflow: hidden;">
      <a href="http://topojanmayen.npolar.no" target="_blank">
        <img src="show/img/topojanmayen_thumbnail.png" style="height: 100%" />
        <md-grid-tile-footer class="viewer-footer">
          <h3>
            <b>TopoJanMayen</b>
            <br/><br/>
            <span class="viewer-info">
              TopoJanMayen is an interactive topographical map of Jan Mayen.
            </span>
          </h3>
        </md-grid-tile-footer>
      </a>
    </md-grid-tile>
    <md-grid-tile md-rowspan="2" md-colspan="1" style="overflow: hidden;">
      <a href="http://geodata.npolar.no/barentsportal/" target="_blank">
        <img src="show/img/barentsportal_thumbnail.png" style="width: 100%" />
        <md-grid-tile-footer class="viewer-footer">
          <h3>
            <b>Barentsportal</b>
            <br/><br/>
            <span class="viewer-info">
              Interactive thematic atlas of the joint Norwegian-Russian environmental status report for the barents sea...
            </span>
          </h3>
        </md-grid-tile-footer>
      </a>
    </md-grid-tile>
    <md-grid-tile md-rowspan="2" md-colspan="2" style="overflow: hidden;">
      <a href="http://geodata.npolar.no/cryoclim/" target="_blank">
        <img src="show/img/cryoclim_thumbnail.png" style="width: 100%" />
        <md-grid-tile-footer class="viewer-footer">
          <h3>
            <b>Svalbard Glaciers (Cryoclim)</b>
            <br/><br/>
            <span class="viewer-info">
              Svalbard Glaciers portal is an interactive map portal presenting dynamic maps of surface types and area outlines of glaciers of Svalbard...
            </span>
          </h3>
        </md-grid-tile-footer>
      </a>
    </md-grid-tile>
  </md-grid-list>
</div>
